node_modules/
dist/
build/
temp/
.env
.DS_Store
*.log
.cache/
.vite/

# Garantir que as imagens sejam sempre rastreadas
!public/images/*.jpg
!public/images/*.png
!public/images/*.jpeg
!public/images/*.gif
!public/images/*.svg






